

.login-button {
  width: 40%;
  margin: auto;
}

.this-div {
  padding-top: 25vh;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-and-tag {
  margin-left: 1%;
  margin-top: 1%;
}

.post-header img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 1%;
}

.post {
  width: 60%;
  margin: auto;
  
}

.home-link {
  width: 60%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.likes-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}