

.login-button {
  width: 40%;
  margin: auto;
}

.this-div {
  padding-top: 25vh;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-and-tag {
  margin-left: 5%;
}

.post-header img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}